

.custom-login-box {
    margin-top: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 5%;
    min-height: 400px;
    width: 700px;
    box-shadow: 3px 3px 3px #E48F45;
    overflow: visible;
}

.custom-login-loginbutton {
    margin-left: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 20%;
    background-color: transparent;
    padding: 10px;
    font-weight: 750;
    transition: background-color 0.5s ease, font-weight 0.5s ease;
}

.custom-login-loginbutton:hover {
  font-weight: 780;
  background-color: #E48F45;
  color: black;
  box-shadow: 5px 5px 20px #FFB76B;
}

.custom-login-registerbutton {
    margin-left: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 7px;
    background-color: transparent;
    padding: 10px;
    font-weight: 750;
    transition: color 0.6s, font-weight 0.6s, background-color 0.1s;
}

.custom-login-registerbutton:hover {
  font-weight: 780;
  background-color: #E48F45;
  color: black;
  box-shadow: 5px 5px 20px #FFB76B;
}

.custom-login-forgotpassword {
    margin-left: 32px;
}




.custom-login-forgotpassword:hover {
    text-decoration: underline;
    font-weight: 600;
}

.email-input, .password-input {
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
  }

@media (max-width: 768px) {
  .email-input, .password-input {
    margin-right: 250px;
    padding: 10px;
  }

  .custom-login-box {
    margin-top: 10px; 
    margin-left: 20px;
    width: 77%; 
    min-height: auto; 
  }

  .custom-login-title {
    padding: 20px !important;
  }

  .custom-login-fcmlogo {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
  }

  .custom-login-loginbutton {
    margin-left: 75px;
  }

  .custom-login-registerbutton {
    margin-right: 35px;
    margin-top: 8px;
  }
  
  .custom-login-forgotpassword::after {
    content: " Click to reset!! ";
  }
}