.pet-card-image {
  height: 180px; /* Set the desired height */
  object-fit: cover;
  border-radius: 20px; /* Optional: Preserve aspect ratio and cover the entire space */
}

.custom-petcard-petname-link {
  text-decoration: none;
}

.custom-petcard-petname {
  font-weight: 900;
  font-size: 20px;
}

.view-details-btn {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 5px 10px;border-width: 1px;
  border-style: solid;
  border-color: #0690fa;
  border-radius: 100%;
  border-width: 3px;
  background-color: transparent;
  color: #0473C9;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 750;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.view-details-btn:hover {
    background-color: #0473C9;
    box-shadow: 0 0 10px 5px #068FFA;
    color: white;
}


/* Add more border radius to the card */
