.pet-card-image {
  height: 180px; /* Set the desired height */
  object-fit: cover;
  border-radius: 20px; /* Optional: Preserve aspect ratio and cover the entire space */
}

.custom-petcard-petname-link {
  text-decoration: none;
}

.custom-petcard-petname {
  font-weight: 900;
  font-size: 20px;
}

.view-details-btn {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 5px 10px;border-width: 1px;
  border-style: solid;
  border-color: #454BE4;
  border-radius: 100%;
  border-width: 1px;
  filter: drop-shadow(1px 1px 15px #1F26D7);
  background-color: #459AE4;
  color: white;
  text-shadow: 1px 1px 1px #1F26D7;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  transition: font-weight 0.1s ease;
}

.view-details-btn:hover {
    font-weight: 800;
    background-color: #1F81D7;
    text-shadow: 1px 1px 1px #741FD7;
    filter: drop-shadow(1px 1px 15px #741FD7);
    /* background: linear-gradient(180deg, #E44599, #1F81D7, #9AE445); */
    color: white;
}


/* Add more border radius to the card */
