/* PetDetail.css e.g for CatDetail, DogDetail etc*/


.pet-card-detail{
  width: 790px;
  height: 357px;
  padding: 0px 40px 0px;
  text-overflow: ellipsis;
   white-space: nowrap;
  overflow: hidden;
max-width: 100%;
}

.custom-detail-addtocard1 {
  color: white;
  width: 130px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  background-color: #0ADD08;
  box-shadow: 5px 5px 5px #555555;
  padding: 10px;
  font-weight: 750;
  transition:  font-weight 0.3s, box-shadow 0.6s, color 0.6s
}

.custom-detail-addtocard1:hover {
  background: transparent;
  font-weight: 900;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  color: #0ADD08; 
}

