.custom-profilepage-background {
    background-color: red;
    height: 10px;
}

.custom-profilepage-container {
    margin-top: 150px;
    
}

.custom-profilepage-vsc {
    border-width: 1px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 7px;
    background-color: transparent;
    padding: 10px;
    font-weight: 750;
    color: black;
    transition: color 0.6s, font-weight 0.6s, background-color 0.1s;
}

.custom-profilepage-changepassword {
    border-width: 1px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 7px;
    background-color: transparent;
    padding: 10px;
    font-weight: 750;
    transition: color 0.6s, font-weight 0.6s, background-color 0.1s;
}

input {
    margin-left: 150px;
    margin-top: 16px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 7px;
}


.custom-profilepage-showpassword {
    font-weight: 750;
}

.custom-profilepage-showpassword:hover {
    font-weight: 900;
}

.custom-profilepage-deletebutton  {
   
    border-width: 1px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 7px;
    background-color: transparent;
    padding: 10px;
    font-weight: 750;
    color: black;
    transition: color 0.6s, font-weight 0.6s, background-color 0.1s;
}

.custom-profilepage-deletebutton:hover  {
    color: white;
    
}

.custom-adminpage-additem {
    font-weight: 750;
    margin-top: 16px;
    padding: 6px;
    border-radius: 7px;
    border-style: solid;
    border-color: #EC971F;
    box-shadow: 1px 3px 5px #EC971F;
}

.custom-adminpage-additem:hover {
    opacity:0.9;
}

.custom-adminpage-editbutton {
    font-weight: 750;
    margin-top: 16px;
    border-style: solid;
    border-color: #EC971F;
    box-shadow: 1px 3px 5px #EC971F;
    border-radius: 7px;
    padding: 6px;
    color: white;
}

.custom-adminpage-editbutton:hover, .custom-adminpage-editbutton:hover {
    opacity:0.9;

}


.custom-adminpage-deletebutton {
    font-weight: 750;
    margin-top: 16px;
    border-style: solid;
    border-color: #EC971F;
    box-shadow: 1px 3px 5px #EC971F;
    border-radius: 7px;
    padding: 6px;
    color: white;
}

.custom-adminpage-category {
    font-weight: 750;
    margin-left: 6px;
    
    padding: 6px;
    border-radius: 7px;
    border-style: solid;
    border-color: #EC971F;
    box-shadow: 1px 3px 5px #EC971F;
    color: white;
    font-size: 0.7rem;
}

.custom-adminpage-categoryoption {
    font-weight: 750;
}

.custom-adminpage-itemlist {
    margin-left: 720px;
    margin-top: 100px;
    font-weight: 900;
    padding: 12px;
}

